/* BASE */

a {
  text-decoration: none;
  color: rgb(70, 70, 70);
  transition: 0.5s;
}

a:hover {
  color: rgb(248, 249, 250);
}

a.nav-link {
  padding: 9px;
}

/* COVER */
.coverbg {
  height: 100vh;
  background: #000
    url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
    center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
}

.coverbg h1 {
  margin: auto;
  text-align: center;
}

.coverbg p {
  margin: auto;
  text-align: center;
}

.bio a {
  color: rgb(248, 249, 250);
}

.typewrite {
  display: flex;
  align-items: flex-start;
}

/* HEADER */
header {
  transition: background-color 0.2s ease, opacity 0.2s ease;
  display: flex;
}

header.scrolled {
  background-color: #1a1a1d;
  opacity: 1;
}

#header {
  opacity: 95%;
}

.nav-pills .nav-link {
  color: rgb(144, 144, 144);
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(
      to right,
      rgb(255, 96, 218),
      rgb(225, 169, 246),
      rgb(209, 187, 249),
      rgb(181, 229, 255),
      rgb(103, 202, 255)
    );
  background-size: 100% 10%, 0 10%;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease;
  font-weight: bold;
}

.nav-pills .nav-link:hover {
  background-size: 0 10%, 100% 10%;
  color: rgba(248, 249, 250, 1);
  transition: 0.6s;
}

.nav-pills .nav-link + .nav-link {
  margin-left: 4rem;
}

.nav-pills .nav-link:focus {
  color: rgba(248, 249, 250);
  color: rgba(248, 249, 250);
  background: linear-gradient(to top, transparent, rgba(248, 249, 250));
  color: rgba(248, 249, 250);
  background: linear-gradient(to top, transparent, rgba(248, 249, 250));
  background-size: 100% 10%;
  background-position: 0 100%, 100% 100%;
  background-repeat: no-repeat;
  transition: none;
}

#logo {
  transition: opacity 0.2s;
}

@media (max-width: 1075px) {
  #btn-back-to-top {
    display: none !important;
  }
}

@media (max-width: 767px) {
  #logo {
    width: 50px;
    height: 50px;
  }
  .nav-collapse {
    display: none;
  }
  header {
    display: inline !important;
  }
}

@media (max-width: 460px) {
  .nav-link {
    font-size: 12px;
    padding-left: 0.1rem !important;
    padding-right: 0.1rem !important;
  }
  #logo {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 345px) {
  .nav-item {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}

@media (max-width: 364px) {
  .nav-item {
    padding-left: 6px !important;
    padding-right: 6px !important;
  }
}

@media (max-width: 290px) {
  .nav-item {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
}

@media (max-width: 253px) {
  .nav-item {
    padding-left: 2px !important;
    padding-right: 2px !important;
  }
}

@media (max-width: 239px) {
  .nav-item {
    padding-left: 0.2px !important;
    padding-right: 0.2px !important;
  }
  .nav-link {
    font-size: 10px;
  }
}

.hovicon:after {
  pointer-events: none;
  position: absolute;
  width: 91%;
  height: 93%;
  border-radius: 50%;
  content: "";
  box-sizing: content-box;
  top: 3px;
  left: 3px;
  z-index: -1;
  background: rgb(248, 249, 250);
  transition: transform 0.4s, opacity 0.4s;
}

.hovicon:hover:after {
  transform: scale(1.3);
  opacity: 0;
}

/* ABOUT */
.about {
  padding: 1.5rem 4.5rem 0 4.5rem;
}

.about-container {
  max-width: 1200px;
  background-color: rgb(26, 26, 26);
}

@media screen and (min-width: 1024px) {
  .about-container {
    max-width: 1400px;
  }
}

.about .col-lg-4 {
  padding: 80px 30px;
}

@media (max-width: 994px) {
  .about .col-lg-4 {
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px solid rgb(248, 249, 250);
  }

  .about .col-lg-4:last-child {
    border-bottom: none;
  }
}

@media (max-width: 534px) {
  .about {
    padding: 0;
  }
}

/* COVER */
.container-fluid {
  padding: 0;
}

/* AVATAR */
.flip-card {
  width: 400px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  top: 50px;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

@media (max-width: 992px) {
  .flip-card-front img {
    margin-left: 0 !important;
  }
}

@media (max-width: 464px) {
  .flip-card-front img {
    margin-left: auto !important;
  }
}

/* ALBUM */
.album {
  background-color: #f1f1f1 !important;
}

.card-body {
  background-color: #1a1a1d;
  color: rgb(248, 249, 250);
}

@media (max-width: 1200px) {
  .card-img-top {
    max-height: 230px;
  }
}

@media (max-width: 992px) {
  .card-img-top {
    max-height: 220px;
  }
}

@media (max-width: 576px) {
  .card-img-top {
    height: auto;
    max-height: 500px;
  }
}

/* BUTTON */
button {
  background-image: linear-gradient(
    to right,
    rgb(255, 125, 225) 0%,
    #a6c1ee 51%,
    rgb(255, 96, 218) 100%
  );
  flex: 1 1 auto;
  background-size: 200% auto;
  border: none !important;
  box-shadow: none;
}

button:hover {
  transition: 0.5s;
  background-position: right center;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

#emailBtn {
  background-image: none;
  border: 2px solid rgb(248, 249, 250) !important;
}

.email-button {
  transition: transform 0.2s ease-in-out;
}

.email-button:hover {
  transform: scale(1.1);
}

.email-button.clicked {
  transform: scale(1.15);
}

/* ANIMATIONS */

.animate-up {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s, transform 0.5s;
}

.animate3 {
  transition-delay: 0.3s;
}
